/target/
/.springBeans
/.classpath
/.settings
/bin/
/sisprop.iml
.idea/*
/infra/.terraform.tfstate.lock.info
/infra/.terraform.lock.hcl
/app/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/app/target/
/infra/.terraform/
/infra/terraform.tfstate
/infra/terraform.tfstate.backup
/infra/plan-destroy.out
/infra/plan.out
/app/dependency-reduced-pom.xml
/infra/pom.xml
